/* 1st example
inspired from :
- http://stackoverflow.com/questions/25573562/wrapping-a-youtube-video-in-a-static-image-frame-and-maintain-responsive-resiz
- http://jsfiddle.net/4g9e3ywy/ */
div.laptop-wrapper {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
}
div.laptop-wrapper iframe {
  box-sizing: border-box;
  background: url(https://i.stack.imgur.com/zZNgk.png) center center no-repeat;
  background-size: contain;
  padding: 11.9% 15.5% 14.8%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 2nd example :  BACKGROUND IMAGE */
div.desktop-wrapper {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
}
div.desktop-wrapper iframe {
  box-sizing: border-box;
  background: url(http://img01.deviantart.net/05b6/i/2011/030/8/5/apple_led_cinema_screen_by_fisshy94-d38e3o5.png)
    center center no-repeat;
  background-size: contain;
  padding: 3.4% 10.8% 18.6%; /* 11.9% 15.5% 14.8% */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 3rd example :  BACKGROUND IMAGE */
.header-unit {
  height: 150px;
  border: 2px solid #000;
  border-right: none;
  border-left: none;
  position: relative;
  padding: 20px;
}
#video-container {
  position: absolute;
}
#video-container {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
video {
  position: absolute;
  z-index: 0;
}
video.fillWidth {
  width: 100%;
}
